*{
padding: 0;
margin: 0;
box-sizing: border-box;
}
.kategorie{
float: left;
width: 20%;
display: inline;
background-color: red;
}
.produkty{
float: right;
width: 78%;
background-color: blue;
}
.produkt{
float: left;
width: 23%;
margin: 1%;
background-color: green;
}